<app-tab-lateral [marginTop]="'100'"></app-tab-lateral>
<div class="container__estoque">

    <div class="header">
        <div class="left">
            <h4 class="h4_24px">Gerenciamento de Estoque</h4>
            <span>Informacoes sobre seu estoque atualmente</span>
        </div>

        <button class="right button">
            <img src="../../../../assets/svg/mais.svg" width="12px" alt="mais-icon" />
            Adicionar Produtos
        </button>
    </div>

    <div class="section-title">
        <h3>Produtos</h3>
        <button>
            <img src="../../../../assets/svg/filter.svg" width="12px" alt="filter-icon" />
            Filtrar
        </button>
    </div>

</div>