<div class="container__tab-lateral">

    <div class="top">

        <img class="logo" src="../../../../assets/svg/logo.svg" width="60px" alt="Logo" />

        <div class="categorias">
            <div>
                <img (click)="redirect('/estoque')" src="../../../../assets/svg/estoque.svg" width="25px" alt="estoque" />
            </div>

            <div>
                <img (click)="redirect('/vendas')" src="../../../../assets/svg/dinheiro-icon.svg" width="25px" alt="estoque" />
            </div>

            <div>
                <img src="../../../../assets/svg/estoque.svg" width="25px" alt="estoque" />
            </div>
        </div>
    </div>


    <div class="bottom">
        <img class="user" src="../../../../assets/svg/user.svg" width="45px" alt="user" />
        <div class="section">
            <img src="../../../../assets/svg/menu.svg" width="25px" alt="menu" />
            <img (click)="redirect('/login')" class="logout" src="../../../../assets/svg/logout.svg" width="30px" alt="logout" />
        </div>
    </div>
</div>