.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(82, 82, 82, 0.514); /* fundo escuro */
  z-index: 999; /* definindo a ordem em que o modal aparece na tela */
}

.modal-content {
  width: 880px;
  height: 532px;
  background-color: #fff; /* cor de fundo do modal */
  border-radius: 10px;
  padding: 25px 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* sombra para o modal */
  position: relative;

  .title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #28293d;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      background: #5f30e2;
      border-radius: 10px;
      border: none;
      padding: 5px;
      width: 51.31px;
      height: 51.31px;
      transition: 0.5s;

      img {
        width: 42px;
      }
    }

    button:hover {
      background: #7851e2;
    }
  }

  .linha {
    border: 1px solid #c7c9d9;
    position: absolute;
    top: 93px;
    width: 958px;
    left: 0px;
  }

  .container_modal_inter {
    display: flex;
    justify-content: space-between;
  }

  .form {
    width: 60%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    label {
      margin-top: 10px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      color: #28293d;
      display: flex;
      flex-direction: column;

      input {
        margin: 7px 0px;
        padding: 10px 16px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #555770;
        border: 2px solid #c7c9d9;
        border-radius: 4px;
      }

      .container_quantidade {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .mais {
          width: 25px;
          border: none;
          background-color: #efeafc;
          border-radius: 50%;
          display: flex;
          padding: 6px;
          height: 14px;
          justify-content: center;
        }

        .quantidade {
          margin: 15px 10px;
          width: 120px;
        }
      }
    }

    button {
      margin-top: 30px;
      background: #5f30e2;
      border-radius: 4px;
      border: none;
      padding: 19px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #ffffff;
    }
  }
}

.quantidadeInputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
